#main {
	background-image: url("../images/background.jpg");
	background-size: cover;
	width: 1200px;
	height: 900px;
}
h1 {
	color: brown;
	font-size: 55px;
	font-family: Arial;
	font-style: italic;
}
h2 {
	color: black;
	font-size: 47px;
	font-style: italic;
}
nav {
	font-style: italic;
	font-size: 30px;
}
.description {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
	float: left;
}
h3,
h4,
h5,
h6 {
	font-size: 47px;
	color: blue;
	display: flex;
	margin-top: 100px;
	margin-left: 10px;
	justify-content: space-around;
	font-style: italic;
}
#test2 {
	display: flex;
	justify-content: space-between;
}
#test2 > p {
	font-size: 30px;
	position: relative;
	margin-left: 30%;
	margin-bottom: auto;
}
#back {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#back1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#back2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.container {
	background: #e0ffff;
	padding: 200px;
	position: cover;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	text-align: center;
}
ul,
ol {
	font-size: 20px;
}
.project1 {
	display: flex;
	flex-direction: row;
	flex: wrap;
	justify-content: space-aroud;
}
.project2 {
	display: flex;
	flex-direction: row;
	flex: wrap-reverse;
	justify-content: space-around;
}
