#main {
	background-image: url("../images/background.jpg");
	background-size: cover;
	height: 900px;
}
h1 {
	color: brown;
	font-size: 55px;
	font-family: Arial;
	font-style: italic;
}
h2 {
	color: black;
	font-size: 47px;
	font-style: italic;
}
nav {
	font-style: italic;
	font-size: 30px;
}
.description {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
	float: left;
	background: rgb(205, 231, 223);
}
h3 {
	font-size: 47px;
	color: violet;
	display: flex;
	margin-top: 100px;
	margin-left: 10px;
	justify-content: space-around;
	font-style: italic;
}
h4 {
	text-align: center;
	font-size: 47px;
	font-style: italic;
	color: violet;
}
#background h5 {
	font-size: 30px;
}
#about-me {
	display: flex;
	padding: 0px;
}
#talk {
	width: 50%;
	padding: 0 10%;
}
#images {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#back {
	flex-direction: column;
	justify-content: space-between;
}
#back1 {
	flex-direction: column;
	justify-content: space-between;
}
#back2 {
	flex-direction: column;
}
#background {
	background: rgb(181, 235, 217);
	padding: 0px;
	position: cover;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	text-align: center;
	display: flex;
}
#back,
#back1,
#back2 {
	padding: 10px;
}
ul,
ol {
	font-size: 20px;
}
#project {
	background: mediumaquamarine;
	padding: 5px;
	position: cover;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	text-align: center;
	display: flex;
}
.project1 {
	flex-direction: column;
	justify-content: space-between;
}
.project2 {
	flex-direction: column;
	justify-content: space-between;
}
.project3 {
	flex-direction: column;
	justify-content: space-between;
}
h6 {
	font-size: 47px;
	text-align: center;
	font-style: italic;
	color: violet;
}
.project1,
.project2,
.project3 {
	padding: 10px;
}
